body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

/* Header */
header {
  background-color: #42d9ff;
  color: white;
  padding: 15px 0;
  text-align: center;
}

nav a {
  color: rgb(50, 57, 53);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
section {
  padding: 30px;
  text-align: center;
  background-color: #fbfcee;
  margin: 15px auto;
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 65, 65, 0.1);
}

h2 {
  color: #0b4db7;
  border-bottom: 2px solid #1e67dd;
  display: inline-block;
  padding-bottom: 5px;
}

/* About Me */
#about img {
  width: 150px;
  border-radius: 50%;
}

/* Skills Table */
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 70%;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background-color: #a0beed;
  color: white;
}

/* Projects */
.project {
  background-color: #f9f9f9;
  margin: 15px auto;
  padding: 15px;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Contact Form */
form {
  display: inline-block;
  text-align: left;
  width: 70%;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  background-color: #0b4db7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #083c8c;
}

/* Footer */
footer {
  background-color: #0b4db7;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  background-color: #7da8ea;
  padding: 5px 10px;
  border-radius: 5px;
}

footer a:hover {
  background-color: #6e9ce6;
}